<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>label</key>
		<string>Deleting Features</string>
		<key>text</key>
		<string>Deleting a feature deletes features drawn on top of it.</string>
		<key>image</key>
		<string>first.png</string>
	</dict>
	<dict>
		<key>label</key>
		<string>4</string>
		<key>text</key>
		<string>Fold flaps to make them flappier!</string>
		<key>image</key>
		<string>send.jpeg</string>
	</dict>
	<dict>
		<key>label</key>
		<string>4</string>
		<key>text</key>
		<string>Fold flaps to make them flappier!</string>
		<key>image</key>
		<string>polygon-icon.png</string>
	</dict>
	<dict>
		<key>label</key>
		<string>4</string>
		<key>text</key>
		<string>Fold flaps to make them flappier!</string>
		<key>image</key>
		<string>print.jpeg</string>
	</dict>
	<dict>
		<key>label</key>
		<string>4</string>
		<key>text</key>
		<string>Fold flaps to make them flappier!</string>
		<key>image</key>
		<string>tab.png</string>
	</dict>
	<dict>
		<key>label</key>
		<string>4</string>
		<key>text</key>
		<string>Fold flaps to make them flappier!</string>
		<key>image</key>
		<string>track_button.png</string>
	</dict>
</array>
</plist>
